<div class="span12">
	<div class="well" id="twitter">
		<table class="table table-bordered">
			<h1><%= @user.email %></h1>
			<tr>
				<td>
					<%= @user.tweets.count %>
					<h6>TWEETS</h6>
				</td>
				<td>
					<%= 0 %>
					<h6>FOLLOWING</h6>
				</td>
				<td>
					<%= 0 %>
					<h6>FOLLOWERS</h6>
				</td>
			</tr>

		</table>
	</div>
</div>

<div class="span4">
	<div class="well" id="twitter">
		<h3>Other Users</h3>
		<table class="table table-hover">
			<% User.all.each do |u| %>
				<tr>
					<td>
						<%= link_to u.email, user_path(u) %><br>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
<div class="span8">
	<div class="well" id="twitter">
		<h3>Tweets</h3>
		<table class="table table-hover">
			<% @tweets.each_with_index do |t,i| %>
				<tr>
					<td>
						<%= link_to t.user.email, user_path(t.user) %><br>
						<br>
						<%= t.text %>
						<br>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
